<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<body>

<div ng-app="myApp" ng-controller="namesCtrl" class="container mt-4">

    <div class="w-25 p-3" style="background-color: rgb(36, 90, 207); color:white;">
        <p>The city is: {{selectedCountry.city}}</p>
        <p>The country is: {{selectedCountry.country}}</p>
    </div><br>
    
    <select ng-model="selectedCountry">
        <option ng-repeat="x in names" ng-value="{{x}}">{{x.city}}</option>
    </select><br>
</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        {city:'London',country:'UK'},
        {city:'Chisinau',country:'MD'},
        {city:'Bucuresti',country:'RO'},
        {city:'Roma',country:'IT'},
        {city:'Paris',country:'FR'},
        {city:'Brasov',country:'RO'},
        {city:'Kiev',country:'UA'},
        {city:'Cahul',country:'MD'},
        {city:'Antalya',country:'Unknown'},
        ];
    
});
</script>

</body>
</html>
